<h2>Logs</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Material</th>
        <th>Quantity</th>
        <th>Action Type</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= log.user.email %></td>
          <td><%= log.material.name %></td>
          <td><%= log.quantity %></td>
          <td><%= log.action_type %></td>
          <td><%= log.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= link_to 'Show', log_path(log), class: 'btn btn-info btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

